/* debut reset */

html {
    box-sizing: border-box;
    font-size: 62.5%
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: inherit;
    /* Utilise la couleur héritée du parent */
    text-decoration: none;
    /* Enlève le soulignement */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.6rem;
}


img {
    max-width: 100%;
    height: auto;
}

/*fin reset*/

/*déclaration de variable */

:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #46FF43;
    --quaternary-color: #5D5D5D;
    --first-font: 'Unbounded', sans-serif;
    --second-font: 'Figtree', sans-serif;

}

/* fin des variables */

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    white-space: nowrap;

}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: var(--second-font);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    width: 100vw;
    justify-content: end;
    flex-wrap: wrap;
}


/* travail sur la Nav */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;

}

#primary-nav_list {
    display: flex;

}

#primary-nav_list[data-visible="true"] {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 17rem;
    background-color: var(--primary-color);
    border-radius: 0 0 2rem 2rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 100%;
    z-index: -1;
    justify-content: center;
    padding-inline-start: 4rem;
    gap: 1rem;
}

.nav_link {
    color: var(--secondary-color);
}

.mobile-nav-toggle {
    display: block;
    position: relative;
    width: 2.5rem;
    aspect-ratio: 1;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 99;
}

.navContainer2 {

    display: none;

}

.navContainer {
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1000;
    margin-inline: 1rem;
    margin-block-start: 1.5rem;
    border-radius: 2rem 2rem 2rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logoNav {
    width: 2.5rem;
    height: 2rem;
    margin-inline: 1rem;
}

.menu-icon {
    display: block;
    position: absolute;
    width: 2.5rem;
    height: .1rem;
    background-color: white;
    transition: transform .6s;
    left: -0.3rem;
}

.menu-icon:before {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    background-color: inherit;
    bottom: -.5rem;
    left: 0rem;
}

.menu-icon:after {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    background-color: inherit;
    top: -.5rem;
    left: 0rem;
}

.mobile-nav-toggle[aria-expanded="true"]>.menu-icon {
    transform: rotate(45deg);
}

.mobile-nav-toggle[aria-expanded="true"]>.menu-icon:before {
    display: none;
}

.mobile-nav-toggle[aria-expanded="true"]>.menu-icon:after {
    transform: rotate(-90deg);
    top: 0;
}

/* fin du travail de Nav */

/* debut travail Accueil(index.html) */

.hero {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
}

.container-hero-txt {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 90%;
    font-size: 1rem;
    font-family: var(--first-font);
    align-self: center;
}

.container-hero-img {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 27rem;
    position: relative;
}

.container-hero-img::after {
    content: "";
    position: absolute;
    background-color: var(--tertiary-color);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    top: 50%;
    left: calc(100% - 23rem);
    z-index: -1;
}

.container-hero-txt quote {
    display: none;
}

.parcoursPro {
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: .8rem;
    height: 65rem;
    margin-inline: 2rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.parcoursPro h2 {
    border-bottom: .2rem solid var(--tertiary-color);
    padding-bottom: 2rem;
    font-family: var(--first-font);
    padding-bottom: 2rem;
}

.parcoursPro ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.parcoursPro ul li {
    margin: 2rem;
    position: relative;
    width: 15rem;
    height: 5rem;
}

.parcoursPro ul li::marker {
    color: var(--tertiary-color);
    gap: 2rem;
}

li:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: -1.5rem;
    bottom: calc(100% - 10rem);
    border-left: 2px solid var(--tertiary-color);
}


.myProject .imgContainer {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 27rem;
    position: relative;
    margin-inline: auto;
    margin-block: 3rem;
}

.myProject img {
    display: flex;
    justify-items: center;
    grid-template-rows: 2fr;
}

.myProject .imgContainer::after {
    content: "";
    position: absolute;
    background-color: var(--tertiary-color);
    width: 25rem;
    height: 15rem;
    border-radius: 15%;
    top: 4.1rem;
    left: calc(100% - 26.4rem);
    z-index: -1;
}

.myProject h2 {
    text-align: center;
    font-family: var(--first-font);
    color: var(--quaternary-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.myProject ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.myProject ul li {
    margin-inline: 2rem;
    list-style: none;

}

.myProject article {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-inline: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.myProject h3 {
    border-bottom: .2rem solid var(--tertiary-color);
    padding-bottom: 2rem;
    font-family: var(--first-font);
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-inline: 2rem;

}

.myProject h3::after {
    border-bottom: .2rem solid var(--tertiary-color);
}

.myProject p {
    margin: 2rem;
}

.myProject a {
    margin-left: 18rem;
    margin-bottom: 2rem;
}

/** media querie de la nav **/

@media only screen and (min-width: 720px) {
    .navContainer {

        display: none;
    }

}

@media only screen and (min-width: 720px) {
    .navContainer2 {
        width: 100%;
        background-color: var(--primary-color);
        z-index: 1000;
        margin-inline: 5rem;
        margin-block-start: 1.5rem;
        border-radius: 2rem 2rem 2rem;
        height: 6rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 720px) {
    .navContainer2 .nav ul li {
        z-index: 1003;
        color: var(--secondary-color);
        list-style: none;
        margin-inline: 4rem;
    }
}

@media only screen and (min-width: 720px) {
    .logoNav2 {
        margin-inline: 2rem;
        padding: .5rem;
    }
}


/** Media querie de la main page **/

@media only screen and (min-width:720px) {
    .hero quote {
        margin-right: 2rem;
    }
}

@media only screen and (min-width: 720px) {
    .hero {
        height: 50rem;
    }
}

@media only screen and (min-width: 720px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 720px) {
    .container-hero-img {
        width: 50rem;
        top: 11.1rem;

    }
}

@media only screen and (min-width:720px) {
    .container-hero-img::after {
        content: "";
        position: absolute;
        background-color: var(--tertiary-color);
        width: 40rem;
        height: 50rem;
        border-radius: 50%;
        top: 40%;
        left: calc(100% - 45rem);
        z-index: -1;
    }
}

@media only screen and (min-width: 720px) {
    .container-hero-txt {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-left: 10rem;
    }
}

@media only screen and (min-width:720px) {
    .container-hero-txt quote {
        display: block;
        font-size: 16px;
        width: 25rem;
    }
}



@media only screen and (min-width: 720px) {
    .parcoursPro {
        margin-inline: 5rem;
        padding-inline: 5rem;
        height: auto;
        margin-block-start: 1.5rem;
    }
}

@media only screen and (min-width: 720px) {
    .parcoursPro ul {
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        min-width: 100%;
        width: auto;
        padding-block: 10rem;
        list-style-type: none;
        overflow: hidden;
    }
}

@media only screen and (min-width: 720px) {
    .parcoursPro ul li {
        position: relative;
        min-width: 5rem;
        width: auto;
        margin-inline: 1;
    }
}

@media only screen and (min-width: 720px) {
    li:not(:last-child)::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: calc(100% - 10rem);
        border-left: 0px solid var(--primary-color);
    }
}

@media only screen and (min-width: 720px) {
    .parcoursPro ul li::before {
        content: "\2022";
        position: absolute;
        left: 1px;
        top: -6rem;
        color: var(--tertiary-color);
        font-size: 2.9em;
        z-index: 2;
    }
}

@media only screen and (min-width: 720px) {
    .parcoursPro ul li::after {
        content: '';
        position: absolute;
        bottom: calc(100% + 3.3rem);
        left: 1rem;
        width: 40rem;
        height: 1px;
        background-color: transparent;
        border-top: 1px solid var(--tertiary-color);
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (max-width: 720px) {
    .container-hero-txt h1 {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 720px) {
    .myProject {
        margin-top: 5rem;
        margin-left: 5rem;
        margin-right: 3.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width:720px) {
    .myProject .imgTitreProject {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width:720px) {
    .myProject .imgContainer {
        display: grid;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        width: 27rem;
        position: relative;
        margin-inline: auto;
        margin-block: 3rem;
    }
}

@media only screen and (min-width:720px) {
    .myProject img {
        display: flex;
        justify-items: center;
        grid-template-rows: 2fr;
    }
}

@media only screen and (min-width:720px) {
    .myProject .imgContainer::after {
        content: "";
        position: absolute;
        background-color: var(--tertiary-color);
        width: 25rem;
        height: 15rem;
        border-radius: 15%;
        top: 4.1rem;
        left: calc(100% - 26.4rem);
        z-index: -1;
    }
}

@media only screen and (min-width:720px) {
    .myProject h2 {
        text-align: center;
        font-family: var(--first-font);
        color: var(--quaternary-color);
        font-size: 2.5rem;
    }
}

@media only screen and (min-width:720px) {
    .myProject ul {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width:720px) {
    .myProject ul li {
        list-style: none;

    }
}

@media only screen and (min-width:720px) {
    .myProject article {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

@media only screen and (min-width:720px) {
    .myProject h3 {
        border-bottom: .2rem solid var(--tertiary-color);
        padding-bottom: 2rem;
        font-family: var(--first-font);
        padding-bottom: 2rem;
        margin-top: 2rem;
        margin-inline: 2rem;

    }
}

@media only screen and (min-width:720px) {
    .myProject h3::after {
        border-bottom: .2rem solid var(--tertiary-color);
    }
}

@media only screen and (min-width:720px) {
    .myProject p {
        margin: 1rem;
    }
}

@media only screen and (min-width:720px) {

    .myProject a {
        margin-left: 18rem;
        margin-bottom: 2rem;
    }
}


/* fin travail sur la page index.html */

/* debut travail sur la page competences.html */

.slider-container {
    position: relative;
    margin: 30px auto;
    height: 50vh;
    overflow: hidden;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 10px;
    background: #0e0e0e;
    border-radius: 50px;
    margin: 0rem 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
    background: #46ff43;
}

.slide-input {
    opacity: 0;
}

.slide-img {
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transition: left 0s 0.75s;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 24px 24px 29px 29px;
}

[id^="slide"]:checked+.slide-img {
    left: 50%;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.competences h1 {
    text-align: center;
    font-size: 3rem;
    font-family: var(--first-font);
    margin-top: 10px;

}

.competences p {
    margin-top: 50px;
    font-family: var(--second-font);
    margin-bottom: 3rem;
    max-width: 65ch;
}

.competences p:first-child {
    margin: 0 0.5rem;
}

.competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* côté droit, côté gauche, côté bas, côté haut */
    box-shadow: 5px 0px 10px var(--tertiary-color), -10px 0 10px var(--quaternary-color), 0px 5px 5px var(--primary-color), 0px -5px 5px var(--primary-color);
    margin-inline: 5rem;
    padding-inline: 5.5rem;
    margin-top: 10rem;
    border-radius: 24px 24px 29px 29px;
}


@media only screen and (max-width:720px) {

    .slide-img {
        width: 95%;
        height: 80%;
    }

    .slider-container {
        width: 100%;
    }

    .competences {
        margin-bottom: 2rem;
    }
}



/* fin travail page competences.html */

/* debut travail sur la page contact.html */
input {
    border-radius: 15px;
}

input,
textarea,
select {
    margin-top: 1rem;
    width: 80%;
}

.label {
    margin-top: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.enseigne {
    align-self: center;
    justify-self: center;
    margin-right: 0.5rem;

}

.enseigne img {
    width: 15rem;
    border-radius: 30%;

}

.form-info select {
    border-radius: 20px;

}

.pagecontact form {
    color: var(--tertiary-color);
    font-family: var(--first-font);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4rem;
    width: 90%;
    margin-top: 3rem;
    text-align: center;
    border: var(--tertiary-color) solid 5px
}

.pagecontact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pagecontact h2 {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    margin: 2rem;
    padding: 1rem 6rem;
    border-radius: 15px;
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
    border: var(--primary-color) solid 2px;


}

textarea {
    resize: none;
    width: 177px;
}

.formulaire {
    border-radius: 15px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    margin-top: 0.5em;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem;
    width: 60%;
    cursor: pointer;

}

.formulaire:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);

}

.imgportraitcontact {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 15rem;
    position: relative;

}

.form-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.form-group {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.imgportraitcontact::after {
    content: "";
    position: absolute;
    background-color: var(--tertiary-color);
    width: 10rem;
    height: 10rem;
    border-radius: 30%;
    top: 80%;
    left: calc(100% - 13rem);
    z-index: -1;

}

.form-info select {
    width: 70%;
    border: var(--tertiary-color) solid 5px;
}

@media screen and (min-width: 720px) {
    .pagecontact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pagecontact h2 {
        padding: 1.5rem 20rem;
        font-size: 2rem;
        border-radius: 40px;
    }

    .enseigne img {
        width: 25rem;
        height: 22rem;
    }

    .imgportraitcontact {
        width: 25rem;
        margin-right: 25rem;
        margin-top: 2rem
    }

    .imgportraitcontact::after {
        width: 18rem;
        height: 12rem;
        border-radius: 30%;
        top: 80%;
        left: calc(100% - 22rem);
    }

    form {
        width: 70%;
        padding: 2rem;
        border: solid var(--tertiary-color)
    }

    .form-group {
        margin-top: 1.5rem;
        margin-left: 2rem;
    }

    input,
    select,
    textarea {
        padding: 0.5rem;
        border: 1px solid;
    }

    input {
        width: 100%;
    }

    button {
        padding: 0.5rem 1rem;
        border: none;
    }

    .group-form {
        display: flex;
    }

    .form-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .form-info select {
        width: 40%;
    }

    .form-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    textarea {
        width: 40%;
    }

    .form-checkpoint {
        display: flex;
        margin-bottom: 2rem;
        margin-top: 2rem;
        align-items: center;
    }

    input[type="checkbox"] {
        width: 5rem;
        margin: 0;
    }
}


/*fin de travail sur la page contact.html * /

/* debut travail footer */

footer {
    margin-top: 3rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 2rem 2rem 0 0;
    margin-top: auto;
}

footer ul li {
    list-style: none;

}

.footercontainer {
    margin-inline: 3rem;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
}



/* fin travail footer */